<footer>
    <div class="content">
        <div class="row">
            <div class="span6 right">
                <ul>
                    <li><a href="/sponsors/">Sponsors</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/musique.royale">Facebook</a></li>
                    <li><a target="_blank" href="https://twitter.com/MusiqueRoyale">Twitter</a></li>
                </ul>
            </div>
            <div class="span6 left">
                <span>© Musique Royale {{ site.time | date: '%Y' }}</span>
            </div>
        </div>
    </div>
</footer>
