<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} - Musique Royale</title>

		<link href="/assets/css/sheet-1.css" rel="stylesheet" type="text/css">

		<meta name="keywords" content="Musique Royale, music, Nova Scotia, Lunenburg, Concert, historic, venue, community">




		{% if page.description %}
		<meta name="description" content="{{ page.description}}" />
		{% else %}
		<meta name="description" content="Musique Royale is an organization based in Lunenburg, Nova Scotia, dedicated to promoting traditional and early music in historic venues throughout the province. Since its founding in 1985, Musique Royale has continued to celebrate venues of architectural and historic significance, and bring world-class music to communities across the province." />
		{% endif %}


		<!-- Async fonts -->
	  {% include /js/fonts.html %}
	  <!-- Google Analytics -->
	  {% include /js/google.html %}


	</head>

<body>
