---
---
$bodycolor: #222;
$seriffontstack: 'Source Serif Pro', serif;
$sansseriffontstack: 'Roboto', Arial, Helvetica, sans-serif;
$greylight: #ebebeb;
$lightgrey: #f1f1f1;

$accent-color: #c6a260;
$s-space: .75rem;
$m-space: 1.2rem;
$l-space: 2.5rem;
$xl-space: 4.2rem;

$theborder: 2px solid $bodycolor;




/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset
---------------------------------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Musique Royale Stylesheet */
html,body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: $seriffontstack;
}

html {
  font-size: 16px;
}

body {
    color: $bodycolor;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}
* {
    margin: 0;
    padding: 0;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img,
embed,
object,
video {
    max-width: 100%;
    border: 0;
}

/* Default Fonts */

p {
  margin-bottom: 1em;
  line-height: 1.6;
}

a {
    color: $bodycolor;
    text-decoration: none;
}
a:visited, a:hover {
    color: inherit;
}
p a {
  text-decoration: underline;

}

.small {
    line-height: 1.3;
    font-size: .85em;
    font-family: $sansseriffontstack;
}
.small p {
        margin-bottom: .4em;
}
.small a {
    text-decoration: underline;
}
.large {
    margin: 0 auto 1em auto;
    font-size: 1.5em;
    font-family: $seriffontstack;
    font-weight: 700;
    max-width: 35em;
}
.large p {
    line-height: 1.7;
}
.large a {
  text-decoration:underline;

}
.large a:hover {
  text-decoration:none;

}

b,strong {font-weight: 700;}
i,em {font-style: italic;}
.tc {text-align: center;}
.tl {text-align: left;}
.tr {text-align: right;}


img {
    display: block;
    max-width: 100%;
    height: auto !important;
    margin: 0 0 .75em 0;
    text-align: center;
}

hr {
    height: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 2px solid #222;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $seriffontstack;
}
h1 {
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: none;
    color: #000;
}

h2 {
    font-size: 1.8em;
    font-weight: 700;
    margin: 0 0 .2em 0;
    text-align: left;
    text-transform: none;
    color: #000;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 $s-space 0;
    text-align: left;
}

h4 {
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 5px 0;
    color: $accent-color;
    font-family: $sansseriffontstack;
    text-transform: uppercase;

}
h4 a {
    text-decoration: none;
}

h5 {
  font-size: .9em;
  font-weight: 700;
  margin: 0 0 5px 0;
  font-family: $sansseriffontstack;
  text-transform: uppercase;
}

h6 {
    font-size: .75em;
}


ul {

}

li {

}

.container {
    width: 100%;
    margin: 5em 0 0 0 ;
    padding: 0;
    min-height: 85vh;

}

.content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 $xl-space;
}

.centered {
    max-width: 100%;
    max-height: 275px;
    margin-bottom: 1em;
}


.entry:after {
    clear: both;
}

.entry {
    clear: both;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 1em;
    border-bottom: 1.2px solid #222;
}

.entry:last-of-type {
    border-bottom: 0 solid #404040;
}



/* SpanX based grid elements */

.row:before,
.row:after {
    display: table;
    line-height: 0;
    content: "";
}

.row {
    margin: 0 -1em;
}

.row:after {
    clear: both;
}

[class*="span"] {
    display: block;
    float: left;
    padding: 0 1em;
    width: 100%;
    margin: 0 0 1em 0;
}

[class*="span"] img {
    height: auto;
    padding: 0;
}

.span1 {width: calc(1/12*100%);}
.span2 {width: calc(2/12*100%);}
.span3 {width: calc(3/12*100%);}
.span4 {width: calc(4/12*100%);}
.span5 {width: calc(5/12*100%);}
.span6 {width: calc(6/12*100%);}
.span7 {width: calc(7/12*100%);}
.span8 {width: calc(8/12*100%);}
.span9 {width: calc(9/12*100%);}
.span10 {width: calc(10/12*100%);}
.span11 {width: calc(11/12*100%);}
.span12 {width: calc(12/12*100%);}


.entry .span3:nth-child(4n+1) {
    clear: both;
}
.span6:nth-child(2n+1) {
    clear: both;
}

.span4:nth-child(3n+1) {
    clear: both;
}

.offset1{margin-left:8.3333%}
.offset2{margin-left:16.666667%}
.offset3{margin-left:25%}
.offset4{margin-left:33.333%}
.offset5{margin-left:41.6667%}
.offset6{margin-left:50%}
.offset7{margin-left:58.3333%}
.offset8{margin-left:66.6667%}
.offset9{margin-left:75%}
.offset10{margin-left:83.3333%}
.offset11{margin-left:91.6667%}
.offset12{margin-left:100%}

/* END -- SpanX based grid elements */

/* Header Block Styles */

header {
    margin: 0 auto 1em auto;
    text-align: left;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    background: #222;
    width: 100%;
    z-index: 99;
    a {
      color: white;
    }
}
.title-small {
  display: block;
  font-family: 'Vidaloka', $seriffontstack;
  float: left;
  text-align: left;
  text-decoration: none;
  color: white;
  background: transparent;
  -webkit-transition: 0.3s ease ;
  -moz-transition: 0.3s ease ;
  transition: 0.3s ease ;
  padding: 1em 1em;
  margin:0;
  line-height: 0;
font-size: 1.5em;
font-weight: 700;
}

.banner:after {
    clear: both;
}

.social-media a {
    margin: 0 5px;
}

nav {
    font-family: $sansseriffontstack;
    z-index: 100;
    margin: 0;
    list-style: none;
    float: right;
    font-size: .85em;
}

nav li a {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

nav li a:hover {
    color: $accent-color;
}

nav li selected a {
    color: $accent-color;
}

ul.nav-full {
  padding: $s-space $m-space;
  li {
    float: left;
    margin-right: $m-space;
    color: #f7f7f7;
  }
  li:last-of-type {
    margin-right: 0;
  }
}

ul.nav-full {
  font-weight: 700;
  li a {
  color: grey;
}
li a:hover {
color: $accent-color;
}
}

ul.nav-expanded {
  display: none;
  clear:both;
  text-align: center;
}






.active, .active a {
    color: $accent-color!important;
}

/* End Header Block Styles */


/* Footer Block Styles */


footer {
    font-size: .9em;
    font-family: $sansseriffontstack;
    z-index: 10;
    width: 100%;
    margin: 4em auto 0 auto;
    padding: 1em 0 0 0;
    color: $greylight;
    border-top: 1.5px solid $greylight;
    background: $bodycolor;

}


footer a {
    text-decoration: none;
    color: $greylight;
}
footer a:hover {
    text-decoration: underline;

}

footer .left {
    text-align: left;
    float: left;
}

footer .right {
    text-align: right;
    float: right;

}

footer li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
}
footer li:first-child {
padding-left: 0px;
}
footer li:last-child {
padding-right: 0px;
}



/* End Footer Block*/
/* Event Listing*/

ul.event-details {
  li {
    width: 100%;
  }
  li span {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }
  li span:nth-of-type(1) {
    width: 20%;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
  }
  li span:nth-of-type(2) {
    width: 79%;
  }
}


/* Generic Background Image */
.background-image-span {
    background-color: $lightgrey;
    position: relative;
    overflow: hidden!important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat!important;
}
.background-image-span:after {
    display: block;
    padding-bottom: 85%;
    content: "";
}

.background-image-span img {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}
.background-image-span {
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
}

/* Styles for People layout */
.general-background {
}

.general-background:after {
  content: "";
  display: block;
  padding-bottom: 80%;
}
.general-background {
  h2, h3 {
      opacity: 1;
      color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      line-height: 1;
      padding: $m-space;
      margin-bottom: 0;
}}


.event-grid .row {
  margin-bottom: $m-space;
}





















.two-col {
       -moz-column-count: 2;
       -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
}

.two-col img {
    width: 100% !important;
    height: auto !important;
}


.sponsor {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        position: relative;
    overflow: auto;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin:1em 2.5em;
}

.sponsor:after {
    content: "";
    display: block;
    padding-bottom: 40%;
}





.svg-icon {
    width: 2em;
    height: 2em;
}
.svg-icon path,.svg-icon polygon,.svg-icon rect {
    fill: #000;
}
.svg-icon circle {
    stroke: #000;
    stroke-width: 1;
}



/* Next-Prev navigation components for collections */

.nextprev ul {
    margin: 6em auto 0 auto;
    text-align: center;
    color: #474746;
}

.nextprev ul li {
    display: inline-block;
    width: 6em;
    margin: 0 15px;
    padding: 10px;
    list-style-type: none;
    outline: 1px solid #474746;
    background: #f1f1f1;
}
.nextprev ul li a {
    text-decoration: none;
    color: #474746;
}
/* End Next-Prev navigation */


/* THIS IS NEW SMALL MENU */

.hidden {
    display: none;
    height: 0;
}


/* Social Page - see twitter.css */

.social-links {
    padding: 1em 0 0 0;
    text-transform: none;
    outline: 0px solid #222;
    border-top: 2px solid #f6f6f6;
    margin-bottom: 1em
}

.social-links a {
    text-decoration: none;
}


/* Past Events */

.past-events-list {
  padding: .5em;

}
.past-events-item {
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.event-date {
  width: 25%;
  display:inline-block;
  vertical-align: top;
}
.event-post {
  width: 74%;
  display:inline-block;
}





/* Media Queries */

@media only screen and (max-width: 1200px) {
    /* tablets and desktop */
    html {
    }
    .span3 {
        width: 33.33%;
    }

    .entry .span3:nth-child(4n+1) {
        clear: none;
    }
    .entry .span3:nth-child(3n+1) {
        clear: both;
    }


}

@media only screen and (max-width: 1024px) {
    /* tablets and desktop */
    html {
      font-size: 16px;
    }


}



@media only screen and (max-width: 767px) {
  /* phones */
  html {
    font-size: 14px;
  }

  [class*='offset'] {
    margin-left: 0;
  }

  .content {
    padding: 0 $l-space;
  }

  .span3 {
    width: 50%;
  }

  .entry .span3:nth-child(3n+1) {
    clear: none;
  }

  .entry .span3:nth-child(2n+1) {
    clear: both;
  }

  .span4 {
    width: 50%;
  }

  .small .span4:nth-child(3n+1) {
    clear: none;
  }

  .small .span4:nth-child(2n+1) {
    clear: both;
  }

  .span4:nth-child(3n+1) {
    clear: none;
  }

  .span4:nth-child(2n+1) {
    clear: both;
  }

  .span8 {
    width: 100%;
  }

  .event-grid .span8 {
    margin-bottom: $l-space;
  }

  .title-small {
    padding-top: 1.35em;
    padding-bottom: 1.35em;
  }

    nav {
      color: $bodycolor;
      position: fixed;
      top: 0px;
      right: 0px;
      z-index: 1000;
      cursor: pointer;
      -webkit-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -o-transform: translate(0,0);
      transform: translate(0,0);
      -webkit-transition: -webkit-transform .4s, height .3s, background .4s;
      -moz-transition: -moz-transform .4s, height .3s, background .4s;
      transition: transform .4s, height .3s, background .4s;
      -webkit-animation: firstFadeInAndDrop .5s;
      -moz-animation: firstFadeInAndDrop .5s;
      animation: firstFadeInAndDrop .5s;
    }
    nav a {
      text-decoration: none;
      border-bottom: 0px;
    }

    /* Animate Drop Down of Menu */
    @-webkit-keyframes firstFadeInAndDrop {
      0%   {-webkit-transform: translate(0,-54px);}
      100% {-webkit-transform: translate(0,0);}
    }

    @-moz-keyframes firstFadeInAndDrop {
      0%   {-moz-transform: translate(0,-54px);}
      100% {-moz-transform: translate(0,0);}
    }

    @keyframes firstFadeInAndDrop {
      0%   {transform: translate(0,-54px);}
      100% {transform: translate(0,0);}
    }

    /* increases menu width & height NAV BACK COLOUR */
    nav.expanded {
      width: 100%;
      height: 100%;
      cursor: default;
      background: $bodycolor;
      opacity: .98;
      z-index:997;
      overflow: scroll;
    }

    nav.expanded {
      body {filter:blur(20px)}
    }

    /* positions navigation content */
    #navigation {
        -webkit-transform: translate(0, -1000px);
        -moz-transform: translate(0, -1000px);
        -o-transform: translate(0, -1000px);
        transform: translate(0, -1000px);
        opacity: 0;
        display: none;
        -webkit-transition: -webkit-transform 5s, opacity 7s;
        -moz-transition: -moz-transform 5s, opacity 7s;
        -o-transition: -o-transform 5s, opacity 7s;
        transition: transform 5s, opacity 7s;
        color: white;
        margin: 0;
        padding-top: $xl-space;
    }

    /* shows navigation */
    nav.expanded #navigation {
        -webkit-transform: translate(0, 0);
        /* hardware acceleration */
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
        display: block;
        margin: auto;
        z-index: 998;
        position: relative;
        width: 100%;
    }

    /* Bar Transition to X  */
    #nav-container {
        position: fixed;
        top: $m-space;
        right: $m-space;
        margin: 0;
        z-index: 999;
    }

    .toggle-icon {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        cursor: pointer;
        -webkit-transition: margin 600ms;
        -moz-transition: margin 600ms;
        transition: margin 600ms;
    }
    /* Positiioning Bars  */
    .toggle-icon .bar {
        display: block;
        width: 3em;
        height: .3em;
        margin-bottom: .6em;
        -webkit-transition-duration: 600ms;
        -moz-transition-duration: 600ms;
        transition-duration: 600ms;
        -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
        -moz-transition-property: -moz-transform, margin, border-right-color, box-shadow;
        transition-property: transform, margin, border-right-color, box-shadow;
        background: white;
    }
    .toggle-icon .bar:nth-of-type(3) {
        margin-bottom: 0;
    }
    .toggle-icon .bar:nth-of-type(2) {
        -webkit-transition: opacity 300ms;
        -moz-transition: opacity 300ms;
        transition: opacity 300ms;
    }
    .pushed .bar {
        background: white;
    }
    .pushed .bar:nth-of-type(2) {
        opacity: 0;
    }
    .pushed .bar:nth-of-type(1) {
        -webkit-transform: translateY(.9em) rotate(-135deg);
        -moz-transform: translateY(.9em) rotate(-135deg);
        -ms-transform: translateY(.9em) rotate(-135deg);
        -o-transform: translateY(.9em) rotate(-135deg);
        transform: translateY(.9em) rotate(-135deg);
    }
    .pushed .bar:nth-of-type(3) {
        -webkit-transform: translateY(-.9em) rotate(-45deg);
        -moz-transform: translateY(-.9em) rotate(-45deg);
        -ms-transform: translateY(-.9em) rotate(-45deg);
        -o-transform: translateY(-.9em) rotate(-45deg);
        transform: translateY(-.9em) rotate(-45deg);
    }

    /* Shrink Title on scroll */
    .shrink {
    }

    .no_scroll { overflow: hidden; }

    /* End source navigation */

    ul.nav-full {
      display: none;
    }
    ul.nav-expanded {
      display: block;
      clear: both;
      li {
        display: block;
        clear: both;
        font-size: 1.5em;
        margin-bottom: $m-space;
      }
      li a:hover {
        color: $accent-color;
        text-decoration: none;
      }
    }

    footer .left,
    footer .right {
        text-align: center!important;
        float: none;
        width: 100%;
    }

}


@media only screen and (max-width: 480px) {
    /* phones */
    html {
      font-size: 13px;
    }
    .content {
      padding: 0 $m-space;
    }
    .large {
        font-size: 1.3em;
    }

    .site-title {
        font-size: 1.2em;
        margin-bottom: 40px;
    }

    .two-col {
        column-count: 1;
        column-gap: 0;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
    }
    [class*='span'] {
        width: 100%;
    }

    nav {
        font-size: .85em;
    }




    [class*='span'] {
        display: block;
        float: left;
        width: 100%;
    }
    .centered {
        max-width: 100%;
        max-height: 18em;
    }

    .event-date {
      width: 100%;
      display:inline-block;
      vertical-align: top;
    }
    .event-post {
      width: 100%;
      display:inline-block;
    }


}
