---
layout: page
---

<div class="row" style="max-width: 700px;">

    <div class="span12">
      {% if page.image %}
        <img class="centered" src="{{ page.image }}">
      {% else %}
        {% capture listing %}{{ page.artist | first | remove: "Group_" | slugify }}.jpg{% endcapture %}
        {% for file in site.static_files %}
          {% if listing == file.name %}
            <img class="centered" src="/assets/artists/{{ file.name }}">
          {% endif %}
        {% endfor %}
      {% endif %}


      <h4>
        {% if page.range %}
          {{ page.range }}
        {% else %}
          {{ page.date | date: '%A %B %-d' -}}
          {% if page.time %} – {{ page.time | date: '%-I:%M %p' }}{% endif %}
        {% endif %}
      </h4>

      <h2>{{ page.title }}</h2>

      <!-- Event Content -->
      {{ page.content }}

      <!-- Cookie Concert line -->
      {% if page.title contains "Cookie" or page.title contains "cookie" %}
          <p>Enjoy a freshly baked cookie and added activities that often accompany our cookie events!</p>
      {% endif %}

      <!-- Check for artist Bio -->
      {% if page.website %}
          <p>For more please visit:
          {% for site in page.website %}
              <a href="{{ site }}" target="_blank">{{ site }}</a>{% unless forloop.first == true %}{% if forloop.last == false %}<br>{% endif %}{% endunless %}
          {% endfor %}
          </p>
      {% endif %}

      <!-- Event Artists -->
      <div class="small" style="padding-top:1em;">




      <ul class="event-details">
        {% if page.artist %}
          <li><p>
            <span>Featuring</span>
            <span>
              {%- for person in page.artist -%}
            {%- assign personclean = person | remove: "Group_" -%}
                {% if site.data.artists[personclean].website %}
                    <a href="{{ site.data.artists[personclean].website }}" target="_blank">{{ personclean -}}</a>
                    {% else %}
                    {{ personclean -}}
                {%- endif -%}
                {%- if site.data.artists[person].instrument %}
                    ({%- for instrument in site.data.artists[person].instrument -%}{{- instrument -}}
                    {%- unless forloop.last -%}/ {%- endunless -%}
                    {%- endfor -%})
                {%- endif -%}{%- if forloop.last == false -%}{%- if forloop.first == true and person contains 'Group' -%}:{%- else -%},{%- endif -%}{%- endif -%}{%- endfor -%}
              </span>
            </p></li>
        {% endif %}

        <!-- Get full location address information -->
        {% if page.location %}
          {% capture eventlocation %}{{ page.location }}{% endcapture %}
          <li>
            <p>
              <span>Location</span>
              <span>
              {% if site.data.venues-new[eventlocation].gmaps %}
                <a href="{{ site.data.venues-new[eventlocation].gmaps }}" target="_blank">{{ page.location | remove: " Lunenburg" }}</a>.
              {% else %}
                {{ page.location | remove: " Lunenburg"  }}.
              {% endif %}
              {% if site.data.venues-new[eventlocation].address <> null %}
                  {{ site.data.venues-new[eventlocation].address }}.
              {% endif %}</span>
          </p></li>
        {% endif %}

        <!-- Ticketing Information -->
        <li>
          <p>
            <span>Tickets</span>
            <span>
              {% if page.ticket <> null %}
                {{ page.ticket}}.
              {% endif %}
              {% if page.webpay %}
                Purchase <a href="{{ page.webpay }}" target="_blank">online</a>.
              {% endif %}

              {% if page.location contains "Cecilia"%}
                Seating limited. Reserve by <a href="mailto:barbara.butler@ns.sympatico.ca">email</a>, or at 902 624-0506.

              {% elsif page.location contains "St. John's Anglican" %}
                Reserve at Shop on the Corner, by <a href="mailto:musiqueroyale1985@gmail.com">email</a> or at 902 634-9994.

              {% elsif page.title contains "Cookie" or page.title contains "cookie" %}
                $5 at the door (4 years and under free)

              {% else %}
                 Reservations are available at 902 634-9994 or by <a href="mailto:musiqueroyale1985@gmail.com">email</a>.
              {% endif %}
            </span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12" style="margin-top: 3em;">
<a href="/events/"><h5>Return to Upcoming Events List</h5></a>

</div>
