---
layout: page
title: Venues
---


<div class="entry" style="border-bottom:0px; max-width: 640px;margin:0 auto;">
    <img class="centered tc";" src="/assets/venues/{{ page.location | slugify }}-{{ page.title | slugify }}.jpg">
    <h4>{{ page.location }}</h4>
    <h2>{{ page.title }}</h2>
    {{ page.content }}
    {% for venue in site.data.venues %}
    {% if venue.name == page.title and venue.location == page.location %}
    <b>Contact:</b> {{ venue.address }}
    <br>
    <b>Tickets:</b> {{ venue.tickets }}
    <br>
    <b>Venue Chair:</b> {% if venue.email %}<a href="mailto:{{ venue.email }}">{{ venue.chair }}</a>, {{ venue.phone }} {% else %} {{ venue.chair }}{% if venue.phone %}, {{ venue.phone }}{% endif %} {% endif %} {% endif %} {% endfor %}


{% include nextprev.html %}

</div>