---
permalink: /pastevents/
title: Past Events
layout: page
---

<div class="row">
    <div class="span12">
        <h1 class="tl">Past Events</h1>
    </div>
</div>
<div class="row">
  <div class="span12">
    <!-- Events with order reversed -->
    <ul class="past-events-list" style="margin-bottom:2em;">

    {% for event in site.events reversed %}
      {% if event.date <= site.time %}

<li class="past-events-item">

        <span class="event-date">
          {% if event.range %}
              <b>{{ event.range }}</b><br>{{ event.date | date: '%Y' }}
              {% else %}
              <b>{{ event.date | date: '%b %d' }}</b><br>{{ event.date | date: '%Y' }}

          {% endif %}
        </span>

        <span class="event-post">

          <h3>{{ event.title }}</h3>

          <div class="small" style="padding-top:1em;">




          <ul class="event-details">
            {% if event.artist %}
              <li><p>
                <span>Featuring</span>
                <span>
                  {%- for person in event.artist -%}
                {%- assign personclean = person | remove: "Group_" -%}
                    {% if site.data.artists[personclean].website %}
                        <a href="{{ site.data.artists[personclean].website }}" target="_blank">{{ personclean -}}</a>
                        {% else %}
                        {{ personclean -}}
                    {%- endif -%}
                    {%- if site.data.artists[person].instrument %}
                        ({%- for instrument in site.data.artists[person].instrument -%}{{- instrument -}}
                        {%- unless forloop.last -%}/ {%- endunless -%}
                        {%- endfor -%})
                    {%- endif -%}{%- if forloop.last == false -%}{%- if forloop.first == true and person contains 'Group' -%}:{%- else -%},{%- endif -%}{%- endif -%}{%- endfor -%}
                  </span>
                </p></li>
            {% endif %}

            <!-- Get full location address information -->
            {% if event.location %}
              {% capture eventlocation %}{{ event.location }}{% endcapture %}
              <li>
                <p>
                  <span>Location</span>
                  <span>
                  {% if site.data.venues-new[eventlocation].gmaps %}
                    <a href="{{ site.data.venues-new[eventlocation].gmaps }}" target="_blank">{{ event.location | remove: " Lunenburg" }}</a>.
                  {% else %}
                    {{ event.location | remove: " Lunenburg"  }}.
                  {% endif %}
                </span>
              </p></li>
            {% endif %}

            <!-- Ticketing Information -->

          </ul>
        </div>



</span>
</li>
        <!-- end location compare -->
          <!-- End artist website link -->
      {% endif %}
    {% endfor %}
  </ul>
</div>
</div>
