---
permalink: /sponsors/
title: Sponsors
layout: page
---


<div class="entry">
    <p class="large">Musique Royale is generously supported by the Federal Department of Canadian Heritage, the Nova Scotia Department of Communities, Culture and Heritage, Arts Nova Scotia, the Lloyd Carr Harris Foundation, Music Nova Scotia, season benefactor Peggy Corkum and valued anonymous support.</p>
</div>


<div class="entry">

        <h3 class="tc" style="margin-bottom: 1em;">Supported By</h3>

    <div class="row"> 


    {% for image in site.static_files %}
        {% if image.path contains '/sponsors/' %}
            <div class="span3">
            <div class="sponsor" style="background-image: url({{image.path}});">
            </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>


